<template>
  <q-page padding>
    <div class="row q-col-gutter-md">
      <div class="col-12 col-sm-8">
        <q-card>
          <q-toolbar class="bg-secondary text-white">
            <q-toolbar-title>Areas</q-toolbar-title>
            <q-select
              dense
              dark
              outlined
              class="q-mr-md"
              :options="bialtuOptions"
              v-model="filter.person_in_charge"
              option-label="name"
              option-value="id"
              emit-value
              use-input
              input-debounce="500"
              map-options
              label="Filter by Elder In Charge"
              placeholder="Start typing elder name"
              @filter="filterFn"
            ></q-select>
            <q-input
              placeholder="Start typing Area name"
              aria-placeholder="Start typing Area name"
              aria-label="Filter by Area name"
              class="q-mr-md"
              :debounce="500"
              v-model="filter.name"
              dense
              dark
              outlined
            ></q-input>
            <q-input
              :debounce="500"
              v-model="filter.bialtu_hming"
              dense
              dark
              outlined
            ></q-input>
          </q-toolbar>

          <q-separator></q-separator>

          <q-table
            ref="tableRef"
            :columns="columns"
            :rows="rows"
            v-model:pagination="pagination"
            :loading="loading"
            @request="fetchData"
            :filter="filter"
            :filter-method="tableFilter"
          >
            <template v-slot:body-cell-actions="props">
              <q-td :props="props">
                <q-btn-group>
                  <q-btn
                    color="primary"
                    size="sm"
                    icon="edit"
                    @click="editArea(props.row)"
                  ></q-btn>
                </q-btn-group>
              </q-td>
            </template>
          </q-table>
        </q-card>
      </div>
      <div class="col">
        <q-card>
          <form action="" @submit.prevent="saveArea">
            <q-toolbar class="bg-secondary text-white">
              <q-toolbar-title>Areas</q-toolbar-title>
            </q-toolbar>
            <q-card-section>
              <q-input
                v-model="area.name"
                :error-message="errors.name ? errors.name[0] : ''"
                :error="!!errors?.name"
              ></q-input>

              <q-select
                :options="bialtuOptions"
                v-model="area.person_in_charge"
                option-label="name"
                option-value="id"
                emit-value
                use-input
                input-debounce="500"
                map-options
                @filter="filterFn"
              ></q-select>
            </q-card-section>
            <q-card-actions>
              <q-btn type="submit" label="save"></q-btn>
              <q-btn label="cancel" @click="resetArea"></q-btn>
            </q-card-actions>
          </form>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { date, useQuasar } from "quasar";
import { api } from "src/boot/axios";
import { onMounted, ref } from "vue";

const columns = [
  {
    name: "id",
    label: "ID",
    field: "id",
    sortable: true,
  },
  {
    name: "name",
    label: "Hming",
    field: "name",
    sortable: true,
  },
  {
    name: "person_in_charge",
    label: "Bialtu",
    field: (row) =>
      row.bialtu ? row.bialtu.name + " (" + row.bialtu.id + ")" : "",
    // field: function (row) {
    //     return row.bialtu.name + ' (' + row.bialtu.id + ')'
    // }
  },
  {
    name: "created",
    label: "Created At",
    field: (row) => date.formatDate(row.created_at, "YYYY-MM-DD"),
  },
  {
    name: "actions",
  },
];
const $q = useQuasar();
const tableRef = ref();
const area = ref({ name: "", person_in_charge: null });
const rows = ref([]);
const loading = ref(false);
const errors = ref({});
const bialtuOptions = ref([]);

const pagination = ref({
  sortBy: "name",
  descending: false,
  page: 1,
  rowsPerPage: 15,
  rowsNumber: 0,
});

const filter = ref({
  name: "",
  person_in_charge: "",
  bialtu_hming: "",
});

const tableFilter = (a, b, c) => {
  console.log(a);
  console.log(b);
  console.log(c);
};

const fetchData = async (props) => {
  loading.value = true;
  const { page, rowsPerPage, sortBy, descending } = props.pagination;
  const paginationFilter = props.filter;

  console.log(paginationFilter);
  const params = props.pagination;
  params.filter = paginationFilter;

  try {
    const res = await api.get("areas", { params: params });

    rows.value = res.data.data;
    pagination.value.rowsNumber = res.data.total;
    pagination.value.rowsPerPage = res.data.per_page;
    pagination.value.page = res.data.current_page;
    pagination.value.sortBy = sortBy;
    pagination.value.descending = descending;
  } catch (error) {
    $q.notify(error.message);
  }

  loading.value = false;
};

const editArea = (a) => {
  area.value = a;
};

const saveArea = async () => {
  $q.loading.show();

  try {
    const res = await api.request({
      url: "areas" + (area.value.id ? "/" + area.value.id : ""), // ID =1 : areas/1; ID=null : areas
      method: area.value.id ? "put" : "post",
      data: area.value,
    });
    tableRef.value.requestServerInteraction();
    resetArea();
  } catch (error) {
    if (error.response?.status === 422) {
      errors.value = error.response.data.errors;
      $q.notify({
        message: error.response.data.message,
        type: "negative",
      });
    }
  }
  $q.loading.hide();
};

const resetArea = () => {
  area.value = { name: "", person_in_charge: null };
};

const filterFn = async (val, update) => {
  if (val === "" || val.length < 4) {
    update(() => {
      bialtuOptions.value = [];

      // here you have access to "ref" which
      // is the Vue reference of the QSelect
    });
    return;
  }

  update(async () => {
    const needle = val.toLowerCase();

    try {
      const response = await api.get("/users/all?name=" + needle);
      bialtuOptions.value = response.data;
    } catch (error) {}
  });
};

onMounted(async () => {
  tableRef.value.requestServerInteraction();
});
</script>
