<template>
  <q-page padding>
    <div class="row q-col-gutter-md">
      <div class="col-12 col-sm-8">
        <q-card>
          <q-toolbar class="bg-secondary text-white">
            <q-toolbar-title>Areas</q-toolbar-title>
          </q-toolbar>

          <q-separator></q-separator>

          <q-table
            ref="tableRef"
            :columns="columns"
            :rows="rows"
            v-model:pagination="pagination"
            :loading="loading"
            @request="fetchData"
            :filter="filter"
            :filter-method="tableFilter"
          >
            <template v-slot:body-cell-actions="props">
              <q-td :props="props">
                <q-btn-group>
                  <q-btn
                    color="primary"
                    size="sm"
                    icon="edit"
                    @click="editArea(props.row)"
                  ></q-btn>
                </q-btn-group>
              </q-td>
            </template>
          </q-table>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { onMounted, ref } from "vue";
import { useAreas } from "src/scripts/use-areas";
const tableRef = ref();
const editArea = (a) => {
  area.value = a;
};

const { rows, filter, pagination, tableFilter, columns, loading, fetchData } =
  useAreas();
onMounted(async () => {
  tableRef.value.requestServerInteraction();
});
</script>
