<template>
  <q-page padding>
    <div class="row q-col-gutter-md">
      <div class="col-12 col-md-8">
        <q-card>
          <q-toolbar class="bg-secondary text-white">
            <q-toolbar-title>Areas</q-toolbar-title>
          </q-toolbar>

          <q-separator></q-separator>

          <q-card-section class="text-center">
            <q-btn @click="generate" color="primary" label="Generate"></q-btn>
          </q-card-section>

          <q-card-section>
            <q-item v-for="row in rows" :key="row.id">
              <q-item-section>{{ row.name }}</q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { useQuasar } from "quasar";
import { api } from "src/boot/axios";
import { useAreas } from "src/scripts/use-areas";
import { onMounted } from "vue";

const $q = useQuasar();
const { rows } = useAreas();
onMounted(async () => {});

const generate = async () => {
  $q.loading.show();
  try {
    await api.post("certificates/generate");
  } catch (error) {
    $q.notify("Error : " + error.message);
  }
  $q.loading.hide();
};
</script>
