<template>
  <q-item
    clickable
    tag="a"
    :to="route"
    exact
  >
    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'EssentialLink',
  props: {
    title: {
      type: String,
      required: true
    },

    route: {
      type: String,
      default: '/'
    }
  }
})
</script>
