<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-vertical.svg"
      style="width: 200px; height: 200px"
    >
  </q-page>
</template>

<script setup>
import { useQuasar } from 'quasar';
import { api } from 'src/boot/axios';
import { defineComponent, onBeforeMount } from 'vue'
import { useRouter } from 'vue-router';

const $q = useQuasar()
const router = useRouter()
onBeforeMount(async () => {
    $q.loading.show()

    try {
      const userFromServer = await api.get('/user')
      console.log(userFromServer.data)
    } catch (error) {
      alert(error.message)
      localStorage.removeItem('loggedIn')
      localStorage.removeItem('user')

      router.push('/auth/login')
    }
    $q.loading.hide()
})
</script>
