<template>
    <q-layout view="lHh Lpr lFf">
        <q-page-container>
        <q-page>
            <div class="row">
                <div class="col-4 offset-4">
                    <router-view />
                </div>
            </div>
        </q-page>
        </q-page-container>
    </q-layout>
</template>
