<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title> Sunday School </q-toolbar-title>
        <q-btn color="accent" :label="currentAcademicSession?.year">
          <q-menu>
            <q-list dense style="min-width: 100px">
              <q-item
                clickable
                v-close-popup
                v-for="session in academicSessions"
                :key="session.id"
                @click="updateCurrentAcademicSession(session.id)"
              >
                <q-item-section>{{ session.year }}</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
        <q-btn icon="logout" @click="logout" flat></q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> Essential Links </q-item-label>

        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";
import EssentialLink from "components/EssentialLink.vue";
import { api } from "src/boot/axios";
import { useQuasar } from "quasar";
import { useRouter } from "vue-router";
import { useAuth } from "src/scripts/use-auth";

const linksList = [
  {
    title: "Member-List",
    route: "/members",
  },
  {
    title: "Areas Composable",
    route: "/areas-composable",
  },
  {
    title: "Departments",
    route: "/",
  },
  {
    title: "Users",
    route: "/profile",
  },
  {
    title: "Generate Certificates",
    route: "/certificates/generate",
  },
];

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(false);

    const {
      setCurrentAcademicSession,
      logout: authLogout,
      currentAcademicSession,
      academicSessions,
    } = useAuth();
    const $q = useQuasar();
    const router = useRouter();

    const updateCurrentAcademicSession = async (sessionId) => {
      try {
        const response = await api.post("/set-current-academic-session", {
          currentAcademicSession: sessionId,
        });

        setCurrentAcademicSession(response.data);
      } catch (error) {
        console.log(error.message);
      }
    };

    const logout = async () => {
      $q.loading.show();
      await authLogout();
      router.push("/auth/login");
      router;
      $q.loading.hide();
    };

    return {
      essentialLinks: linksList,
      leftDrawerOpen,
      currentAcademicSession,
      academicSessions,
      logout,

      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
      updateCurrentAcademicSession,
    };
  },
});
</script>
