<template>
  <q-card>
    <q-toolbar>
      <q-toolbar-title>Login</q-toolbar-title>
    </q-toolbar>
    <q-separator></q-separator>
    <form action="" @submit.prevent="login">
      <q-card-section>
        <q-input
          outlined
          dense
          v-model="email"
          label="Email"
          :error-message="errors['email'] && errors['email'][0]"
          :error="!!errors['email']"
        ></q-input>

        <q-input
          outlined
          dense
          v-model="password"
          type="password"
          label="password"
          :error-message="errors['password'] && errors['password'][0]"
          :error="!!errors['password']"
        ></q-input>
      </q-card-section>
      <q-card-actions>
        <q-btn type="submit" label="Login" color="primary" icon="lock"></q-btn>
      </q-card-actions>
    </form>
  </q-card>
</template>

<script setup>
import { ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import { useQuasar } from "quasar";
import { useAuth } from "src/scripts/use-auth";

const $q = useQuasar();
const email = ref("");
const password = ref("");
const errors = ref({});
const router = useRouter();

const { loggedIn: authLoggedIn, login: authLogin } = useAuth();

onMounted(() => {
  $q.loading.show();

  const loggedIn = authLoggedIn;

  if (loggedIn) {
    router.push("/");
  }

  $q.loading.hide();
});

const login = async () => {
  $q.loading.show();
  try {
    if (await authLogin({ email: email.value, password: password.value })) {
      router.push("/");
    }
  } catch (error) {
    if (error.response) {
      if (error.response.status === 422) {
        errors.value = error.response.data.errors;
        $q.notify({
          message: error.response.data.message,
          type: "negative",
        });
      } else {
        $q.notify({
          message: error.response.statusText,
          type: "negative",
        });
      }
    } else {
      $q.notify({
        message: error.message,
        type: "negative",
      });
    }
  }
  $q.loading.hide();
};
</script>
